select {
    -webkit-appearance: none;
}

.custom-review-radio input[type="radio"] {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin: 6px;
    padding: 0;
    border: 2px solid #7563F7;
    border-radius: 50%;
    appearance: none;
    background-color: transparent;
    outline: none;
}

.custom-review-radio input[type="radio"]:not(:disabled):checked {
    border-color: #7563F7;
    background-color: #7563F7;
    background-clip: content-box;
    padding: 1px;
    background-image: radial-gradient(circle,
            var(--radio-checked-color) 0%,
            var(--radio-checked-color) 50%,
            transparent 60%,
            transparent 100%);
}